# build output
dist/
src-tauri/target/
src-tauri/gen/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# PocketBase
pocketbase
pocketbase.exe
pb_data/
pb_data_main/
pb_data_test/
.*_pb_pid

# coverage
coverage/

# environment variables
.env
.env.production
.env.local

# macOS-specific files
.DS_Store

# IDEs
.idea/
.vscode/
*.iml
